body { 
    min-width: 420px; 
    overflow-x: hidden; 
    font-family: Arial, sans-serif; 
    font-size: 12px; 
}

input, textarea { 
    width: 420px; 
}

input { 
    font-weight: bold; width: auto; 
}
